# - - - - - - - - - - - - - - 
# Environment Variables used by LimeSurvey container
# - - - - - - - - - - - - - - 
# Refer to https://hub.docker.com/r/acspri/limesurvey for a list of 
# available Variables.

# Privileged database user; defaults to root
LIMESURVEY_DB_USER=root
# Password of database root user; must match value in MYSQL_ROOT_PASSWORD
# provided to database container 
LIMESURVEY_DB_PASSWORD=Str0ngPwv@l2h
# Name of database created for survey data; defaults to limesurvey
#LIMESURVEY_DB_NAME=limesurvey
# Prefix to add to each databsae table name; defaults to ""
#LIMESURVEY_TABLE_PREFIX= 

#  -  -  -  -  -  -  -  -  -  -  -
# LimeSurvey Administrator Info
#  -  -  -  -  -  -  -  -  -  -  -
# Username for the LimeSurvey administrator (1st user)
# Required the first time the container is run.
# Recommendation is to use something other than 'admin'.
LIMESURVEY_ADMIN_USER=myadminname
# Initial password of the administrator user; defaults to ""
# Note: This value is set every time the container is restarted!
# Comment this line out or set to blank after initial password is changed 
LIMESURVEY_ADMIN_PASSWORD=mypassword
# full name of the Administrator; defaults to "Lime Administrator"
LIMESURVEY_ADMIN_NAME=Lime Administrator
# Email address of Administrator; defaults to your-email@example.net
#LIMESURVEY_ADMIN_EMAIL=


# - - - - - - - - - - - - - - 
# Environment Variables Needed by survey database (mariadb/mysql) container
# - - - - - - - - - - - - - - 
MYSQL_ROOT_PASSWORD=Str0ngPwv@l2h
